<body style="background: black; color: white;">

<p style="height: 20%;"></p>
<p id="key" style="margin: auto auto; font-size: 75px; text-align: center;"></p>
<p id="string" style="margin: auto auto; font-size: 75px; text-align: center;"></p>
<p id="keycode" style="margin: auto auto; font-size: 75px; text-align: center; display:none;"></p>

<script>
{% autoescape off %}
var data = {{ data }}
var key = 0
var i = 0
var speed = 150
window.addEventListener("keydown",
    function(e){
        key = e.keyCode
        if (key == 83) myLoop(i)
        if (key == 187) speed -= 10
        if (key == 189) speed += 10
        if (key == 37) unshift()
        if (key == 39) shift()
    },
false);
{% endautoescape %}
function myLoop () {          
   setTimeout(function (event) {   
      document.getElementById('key').innerHTML = data[i][0]
      //document.getElementById('key').innerHTML = data[i]
      document.getElementById('string').innerHTML = data[i][1]
      document.getElementById('keycode').innerHTML = key
      if (++i == data.length) i = 0
      if (key != 80) myLoop(i);     
   }, speed)
}   
function shift () {
    if (++i == data.length) i = 0
    document.getElementById('key').innerHTML = data[i][0]
    document.getElementById('string').innerHTML = data[i][1]
}

function unshift () {
    if (--i == -1) i = data.length - 1
    document.getElementById('key').innerHTML = data[i][0]
    document.getElementById('string').innerHTML = data[i][1]
}

myLoop(0)
</script>
</body>
